/** Tic Tac Toe Example 
 See: CSS Variables
 https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

 The :root CSS pseudo-class matches the root element of a tree representing the document. 
 In HTML, :root represents the <html> element and is identical to the selector html, except 
 that its specificity is higher.
 https://developer.mozilla.org/en-US/docs/Web/CSS/:root

 A common best practice is to define custom properties on the :root pseudo-class, 
 so that it can be applied globally across your HTML document:
**/

:root {
  --grid-size: 450px;
  --margin-size: 10px;
  --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
}

body {
  font-family: sans-serif;
}

#grid {
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--grid-size);
  width: var(--grid-size);
}

#grid div {
  background-color: white;
  height: var(--square-size);
  width: var(--square-size);

  display: flex;
  justify-content: center;
  align-items: center;
}

#grid div img {
  width: 100%;
}

