body {
  font-family: Helvetica;
  text-align: center;
}

a {
  display: block;
}

p {
  border: 3px solid hotpink;
  display: inline-block;
  background-color: lavenderblush;
}

mitag {
	background-color: yellow;
}
