header {
  /* Also try background-size: contain; */
  background-size: cover;
  /* Also try background-position: top, bottom, etc */
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://i.pinimg.com/originals/e0/12/34/e01234bb15f06380da7773ef3f9a77fd.png);
  height: 400px;
}
