body {
  font-family: Helvetica;
  text-align: justify;
}

a {
  display: block;
}

p {
  border: 3px solid hotpink;
  display: inline-block;
  background-color: lavenderblush;
}

span {
  background-color: yellow;
}
