body {
  font-family: Helvetica, sans-serif;
}

#box1 {
  height: 100px;
  width: 100px;
  background-color: red;
  
  position: relative;
  top: 0;
  left: 0;
}

#box2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  
  position: relative;
  top: 50px;
  left: 50px;
}
