@charset "utf-8";


// Set your brand colors
$purple: #57068C;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$ull-purple: #57068C;
$ull-purple-invert: findColorInvert($ull-purple);
$custom-colors: ("ull-purple": ($ull-purple, $ull-purple-invert));

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
// Update $primary as your choice
$primary: $purple;   

$link: #006699;
$widescreen-enabled: false;
$fullhd-enabled: false;


// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Path to Bulma's sass folder
@use "bulma/sass" with (
//  $family-primary: '"Nunito", sans-serif',
  $family-primary: '"Argentum Sans", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
// Import Argentum Sans, the official typography 
@import url("https://fonts.cdnfonts.com/css/argentum-sans");
