/**
    This font is from:
    http://www.1001freefonts.com/always_forever.font
*/

@font-face {
  font-family: "My Custom Font";
  src: url("../../fonts/always-forever.ttf");
}

body {
  font-family: "My Custom Font", serif;
}
